/**************************************/
/*              GLOBALS               */
/**************************************/
html {
  font-size: 0.75em;
}

body {
  /*font: 12px/1.2em arial,helvetica,verdana,helvetica-neue,sans-serif; */
  font-family: arial,helvetica,verdana,helvetica-neue,sans-serif;
  color: #666666;
  margin: 0;
  padding: 0;
  background: #F9F9F9;
  
}
.cleardiv {
clear:both;
font-size:0;
height:0;
line-height:0;
padding:0.01px;
}

h1 {
  font-size: 1.5em;
  font-weight: normal;
  color: #1D4C7F;
}

p {
  line-height: 1.5;
}

a {
  color: #1D4C7F;
  text-decoration: none;
}
input, select {
  cursor: pointer;
  font-size: 100%;
}

fieldset {
  padding: 0 0 0 1em;
  margin: 1em 0 2em 0;
  border: none;
  background: transparent url("../images/row_separator.png") no-repeat 0 bottom;
}
legend{
  display: block;
  margin: 0;
  padding: 0;
}
fieldset.collapsed {
  background-image: none;
}
fieldset legend, fieldset legend a {
  color: #1D4C7F;
}
html.js fieldset.collapsible legend a {
  text-decoration: none;
  background: none;
}
html.js fieldset.collapsible legend span.fieldset-title {
  padding-left: 24px;
  background: transparent url("../images/fieldset_legend.png") no-repeat left 0;
}
html.js fieldset.collapsible legend a,
html.js fieldset.collapsible legend span.fieldset-title {
  width: 98%;
}
html.js fieldset.collapsible legend a,
html.js fieldset.collapsible legend a span.fieldset-title {
  display: block;
  height: 1.5em;
  position: absolute;
  left: 0;
  top: 0px\9;
  line-height: 1.5em;
}
html.js fieldset.collapsed legend a {
  background: transparent url("../images/row_separator.png") no-repeat 0 bottom;
}
fieldset .fieldset-content {
  padding: 1em 1em 0 2em;
  background: transparent url("../images/comment_background.png") repeat-x 0 0;
}
html.js fieldset.collapsed {
  margin-bottom: 2em;
}
html.js fieldset.collapsed legend span.fieldset-title {
  display: inline;
}

.right {
  text-align: right;
}

#wrapper {
  background: f7f7f7;
  margin: 0;
   padding-bottom: 80px;
  padding-top: 40px;
}
/* Wrappers for Background images and shadows */
#wrapper-inner-top {
  background: #9AA1A7 url("../images/bg-main-top-low.jpg") repeat-x 0 0;
}
#wrapper-inner-bottom {
  background: url("../images/bg-main-bottom.jpg") repeat-x 0 bottom;
}
#wrapper-inner-color-bar {
  background: url("../images/bg-color-bar-low.jpg") repeat-x 0 160px; 
}
#wrapper-inner-shadow-over-left {
  width: 990px;
  margin: auto;
  background: url("../images/bg-shadow-over-left.jpg") no-repeat 30px 2px;
  
}
#wrapper-inner-shadow-over-right {
  background: url("../images/bg-shadow-over-right.jpg") no-repeat 893px 2px;
  padding-top: 10px;
}
#wrapper-inner-shadow-repeated-left {   
  background: url("../images/bg-shadow-repeated-left.jpg") repeat-y 8px 0;
}
#wrapper-inner-shadow-top-left {
  background: url("../images/bg-shadow-top-left.jpg") no-repeat 8px 0; 
}
#wrapper-inner-shadow-color-bar-left {
  background: url("../images/bg-shadow-color-bar-left.jpg") no-repeat 8px 150px; 
}
#wrapper-inner-shadow-middle-left {
  background: url("../images/bg-shadow-middle-left.jpg") no-repeat 8px 296px;
}
#wrapper-inner-shadow-bottom-left {
background: url("../images/bg-shadow-bottom-left.jpg") no-repeat 8px bottom;
}
#wrapper-inner-shadow-repeated-right {
  background: url("../images/bg-shadow-repeated-right.jpg") repeat-y 953px 0;
}
#wrapper-inner-shadow-top-right {
  background: url("../images/bg-shadow-top-right.jpg") no-repeat 953px 0; 
}
#wrapper-inner-shadow-color-bar-right {
  background: url("../images/bg-shadow-color-bar-right.jpg") no-repeat 953px 150px; 
}
#wrapper-inner-shadow-middle-right {
  background: url("../images/bg-shadow-middle-right.jpg") no-repeat 953px 296px;
}
#wrapper-inner-shadow-bottom-right {
background: url("../images/bg-shadow-bottom-right.jpg") no-repeat 953px bottom;
}

#main-wrapper {
  margin-bottom: 2em;
}
#content-area .region-content {
  padding-bottom: 1em;
}

/**
 * Skip link
 */
#skip-link a:link, #skip-link a:visited {
  font-weight: bold;
  background: #fff;
  padding: 0px 5px;
  text-decoration: none;
  font-size: 80%;
  text-align: right;
  top: -99em;
  left: auto;
  position: absolute;
}

#skip-link a:hover, #skip-link a:focus, #skip-link a:active  {
  height: auto;
  width: auto;
  overflow: visible;
  top:0;
  left:0;
  position: fixed;
  z-index: 1000;
}



/**************************************/
/*              HEADER                */
/**************************************/
#header {
  color: #ffffff;
}

#header-top {
  background: #ffffff;
  height: 110px;
  vertical-align: bottom;
  padding-top: 10px;
}

#header-bottom {
  height: 146px;
  background: transparent url("../images/header_bottom_bg.jpg") no-repeat 0 0;
  /*background: transparent url("../images/header-image-faces.jpg") no-repeat 0 0;*/ 
}
#header-bottom-left {
  float: left;
  width: 550px;
  padding: 0;
  margin-right: 10px;
}
#header-bottom-right {
  float: left;
  width: 350px;
  padding-right: 40px;
  margin-right: 0;
}
#header-top-right {
  float: left;
  width: 310px;
  padding-right: 40px;
  margin-right: 0;
}
#site-slogan {
  font-size: 1.25em;
  color: #225F8E;
  padding-top: 80px;
  text-align: right;
}

#logo-floater {
  float: left;
  width: 510px;
  padding: 0 40px;
  margin: 15px 10px 0 0;
}
#logo-floater h1 {
  margin: 0;
}
#branding a {
  text-decoration: none;
  font-weight: normal;
  font-size: 3em;
  color: #3D77A3;
  font-family: "calibri","arial narrow",arial,helvetica,sans-serif;
}
#branding img {
  float: left;
}
#branding .site-title {
   float: left;
   padding-left: 15px;
   padding-top: 23px;
}

#header-bottom .title-area {
  margin-top: 30px;
}

#header-bottom .title-area h2 {
  margin-top: 0;
  font-weight: normal;
  font-size: 1.7em;
  line-height: 1.15em;
}


/**************************************/
/*             NAVIGATION             */
/**************************************/
#wrapper #container #block-block-1 {
  background: transparent url("../images/navigation_background.png") repeat-x 0 0;  
  color: #B6D8F3;
  line-height: 1.1;
  padding-left: 1.5em;
}
#block-block-1 .content {
   padding-left: 17px;
}
#block-block-1 p {
  margin: 0.3em 0;
}
#block-block-1 h2 {
  font-weight: normal;
  font-size: 1.5em;
  color: #E3F2FF;
  margin-top: 0;
  margin-bottom: 0.6em;
}
#block-block-1 ul {
  margin: 0;
  padding: 0;
}
#block-block-1 ul li {
  list-style-image: none;
  list-style-type: none;
  color: #B6D8F3;
  margin: 0;
  padding-left: 10px;
  background: transparent url("../images/menu_collapsed.gif") no-repeat left center;
}
#block-block-1 ul li a {
  color: #EFF8FF;
  text-decoration: none;
}
#block-block-1 ul li a.active {
  color: #5383B5;
  text-decoration: none;
}
/* #block-system-navigation ul.menu li.collapsed {
  background: transparent url("../images/menu_collapsed.gif") no-repeat left 0;
}
#block-system-navigation ul.menu li.expanded {
  background: transparent url("../images/menu_expanded.gif") no-repeat left 0; */
}

#navigation ul#main-menu {
 
}
#navigation ul#main-menu li {
    background: transparent url(../images/main-menu-separator-2.jpg) no-repeat right -1px;
    margin: 0;
    padding: 0 0.9em 0 0.5em;
}
#navigation ul#main-menu li.first {
  padding-left: 0;
}
#navigation ul#main-menu li.last {
  background: none;
}


#navigation ul#main-menu li a {
  font-size: 1.2em;
  color: #6D7E8F;
}
#navigation ul#main-menu li a.active,
#navigation ul#main-menu li a:hover,
#navigation ul#main-menu li a:focus {
   color: #0B72B7;
}



/**************************************/
/*            MAIN CONTENT            */
/**************************************/
#container {
  width: 950px;
  margin: 0 auto 0 auto;
  padding-top: 29px;
  background: #ffffff;
}

#content_top {
  height: 196px;
}
#content_main {
  padding-top: 10px;
}
#navigation {
  padding-top: 14px;
  margin-bottom: 10px;
}
.breadcrumb {
  font-size: 10px;
  color: #666666;
}

#content {
  float: left;
  display: inline;
  padding-right: 10px;
  width: 650px; 
  padding-left: 30px; 
  background: url(../images/main-menu-bg.jpg) no-repeat -70px -7px;
   min-height: 450px;
   height: auto !important;
   height: 450px;
}

#content-area {
  float: left;
  display: inline;  
  padding-left: 30px;
  padding-right: 10px;
  padding-top: 55px;
}
#content-area .region-content {
  padding-right: 50px;
}
/**************************************/
/*            FORMS                   */
/**************************************/
.sidebar-first form#user-login-form input,
#page-footer form#user-login-form input {   
  float: left;
}
.sidebar-first form#user-login-form label,
#page-footer form#user-login-form label {
  float: right;
  font-weight: normal;
  text-align: left;
  width: 75px;
  padding-left: 5px;
}
#page-footer form#user-login-form label {
  font-size: 0.93em;
}
form#user-login-form .item-list,
form#user-login-form .form-item {
  clear: both;
}
.sidebar-first form#user-login-form .form-item,
 {
    padding-top: 8px;
}
#page-footer form#user-login-form .form-item {
  padding: 8px 0 0;
}
.sidebar-first form#user-login-form input#edit-submit,
#page-footer form#user-login-form input#edit-submit {
  clear: both;
  padding: 0 0.3em;
  margin-top: 8px;
}
#search-block-form input[type=text],
.sidebar-first #user-login-form input[type=text],
.sidebar-first #user-login-form input[type=password],
{
  background: #F0F3F7 url("../images/search_bg.gif") no-repeat 0 bottom;
  border: none;
  width: 120px;
  padding-left: 0;
  padding-right: 0;
}
#page-footer #user-login-form input[type=text],
#page-footer #user-login-form input[type=password] {
  background: #F0F3F7 url("../images/input-bg-dark.jpg") no-repeat center bottom;
  border: none;
  width: 120px;
  padding-left: 0;
  padding-right: 0;
}
#page-footer #block-user-login h2 {
  margin-bottom: 3px;
}

.sidebar-first #user-login-form a {
  color: #6C8497;
  text-decoration: none;
  font-size: 0.93em;
}
.sidebar-first #user-login-form ul {
  padding-left: 0;
  padding-top: 0.5em;
}

.contextual-links-region-active {
  outline-color: #1D4C7F;
}
#page-footer #user-login-form .item-list {
  display: none;
}





/**************************************/
/*              SIDEBAR               */
/**************************************/
#wrapper #container .sidebar {
  float: left;
  display: inline;
  width: 240px;
  padding: 0 0 0 20px;
  margin: 24px 0 12px 0;
  position:relative;
  z-index:2; 
} 
div.sidebar-first {
  margin-right: 0;
}

#wrapper #container .sidebar .block {
  margin:0 0 1.5em;
  padding: 1.5em 1.5em 1.5em 0.4em;
  overflow: hidden;
}
#sidebar-first .block {
  padding:0 15px 0 0;
}
.block h2 {
  font-size: 1.25em;
  color: #4A6BAB;
}

/**************************************/
/*               FOOTER               */
/**************************************/
#page-footer {
  background: #1E517D url("../images/footer_bg.jpg") repeat-y 0 0;
  min-height: 135px;
   height: auto !important;
   height: 135px;
  margin-top: 12px;
  padding-bottom: 10px;
  clear: both;
  width: 100%;
}

#page-footer .block {
  float: left;
  width: 205px;
  padding: 10px 28px;
  color: #ffffff;
}
#page-footer .block h2 {
  font-size: 1em;
  font-weight: bold;
  color: white;
}
#page-footer .block input {
  font-size: 100%;
}

#container textarea, #container input {
  padding: 4px 5px 2px 5px;
  margin: 0 0 4px 0;
}
input[type="text"], input[type="password"] {
  cursor: text;
}

/* pager */
.item-list .pager li {
  margin: 0;
}
.item-list .pager li a {
  text-decoration: none;
}

div.node {
  background: transparent url("../images/row_separator.png") no-repeat 0 bottom;
  padding-bottom: 0.5em;
  margin-bottom: 1.3em;
}

div.node h2 {
  font-size: 1.5em;
  color: #1D4C7F;
  padding: 0.7em 0 0.7em;
  margin: 0;
}
div.node h2 a, .node h2 a:link, .node h2 a:visited {
  color: #1D4C7F;
  text-decoration: none;
  font-weight: normal;
}
div.node p {
  color: #6C8497;
  margin: 0;
  padding: 0.5em 0;
}
.node .content {
 
}
.node-teaser {
  margin-bottom: 0.5em;
}
.node-teaser .node-inner .field-type-image {
   float: left;
   width: 170px;
   margin: 5px 15px 0 5px;
}
.node-teaser .node-inner .field-type-image img {
 width: 170px;
}
.node .field-type-image img {
   width: 550px;
}

div.user-picture {
  float: left;
  margin: 0 20px 0 0;
  padding: 3px 0 8px 0;
}
div.user-picture img {
  margin: 0;
  padding: 0;
  border: 0;
  width: 50px;

}
div.node.node-with-author-picture .content, div.node.node-with-author-picture div.links {
  padding-left: 95px;
}
div.node.node-with-author-picture .comment .content, div.node.node-with-author-picture div.links div.links {
  padding-left: 0;
}

div.node div.links, div.comment div.links {
  float: right;
}

div.node .links {
  padding: 0.7em 0 0.5em;
  font-size: 0.96em;
}

div.node ul.links,
div.comment ul.links
 {
  line-height: 1.75em;
  padding: 0.5em 1em 0.4em 0;
}

div.node ul.links a {
  text-decoration: none;
  color: #1D4C7F;
}
ul.links.inline li {
  padding: 0 12px;
  background: transparent url("../images/inline_links_seperator.png") no-repeat right 0;
}
ul.links.inline li.first {
  padding-left: 0;
}
ul.links.inline li.last {
  padding-right: 0;
  background-image: none;
}
ul.links .comment_add a, ul.links .comment_reply a {
  padding-left: 15px;
  background: transparent url("../images/comment_add.png") no-repeat 0 0;
}
ul.links .comments_count a, ul.links .comment_comments a, ul.links .comments_count span {
  padding-left: 15px;
  background: transparent url("../images/comments_count.png") no-repeat 0 0;
}

div.node .field-name-taxonomy-tags {
  display: block;
}
div.node .field-name-taxonomy-tags .field-label {
  float: left;
  margin-right: 0.5em;
}
div.node .field-name-taxonomy-tags .field-item {
  float: left;
  margin: 0 .2em;
}

#comments {
  margin-top: 3em;
}
div.comment h3 {
  font-weight: normal;
  margin: 0 0 .5em 0;
}
div.comment h3 a {
  text-decoration: none;
}
div.comment {
  background: transparent url("../images/row_separator.png") no-repeat 0 bottom;
  margin-bottom: 2em;
  padding-bottom: 1px;
}
div.node div.comment.comment-with-author-picture .content, div.node div.comment.comment-with-author-picture div.links {
  padding-left: 95px;
}

div.comment.comment-with-author-picture .submitted {
  padding-left: 95px;
  margin-bottom: 1em;
}
div.comment p {
  margin: 0;
}
div.comment-inner {
  background: transparent url("../images/comment_background.png") repeat-x 0 0;
  padding: 20px 20px 0 20px;
}

table {
  width: 100%;
}
thead, tbody {
  border: none;
  background: transparent url("../images/row_separator.png") no-repeat 0 bottom;
}
thead th, tbody td {
  border: none;
  padding-left: 1em;
  line-height: 1.75em;
}
thead th {
  font-weight: normal;
  color: #1D4C7F;
}
thead th a {
  text-decoration: none;
}
tbody tr.even, tbody tr.odd {
  background: transparent url("../images/row_separator.png") no-repeat 0 0;
  border: none;
}
tfoot {
  background: transparent url("../images/row_separator.png") no-repeat 0 top;
  border: none;
}
tbody tr.odd {
  background-color: #F0F3F7;
}
tbody td {
  color: #788897;
}
tbody td a {
  text-decoration: none;
  padding: 0 .2em;
  margin: 0 .2em;
}
tfoot td {
  font-style: italic;
}

.content table {
  margin: 1em 0;
}

ul.primary, ul.tabs.secondary {
  padding: 0 0 5px 0;
  margin-left: -5px;
  background: transparent url("../images/row_separator.png") no-repeat 0 bottom;
  border: none;
}
ul.primary li, ul.tabs.secondary li {
  background: transparent url("../images/inline_links_seperator.png") no-repeat right 0;
  margin: 0;
  padding: 0;
  border: none;
}
ul.primary li.last, ul.tabs.secondary li.last {
  background-image: none;
}
ul.primary li a, ul.tabs.secondary li a {
  color: #788897;
  background: none;
  border: none;
  padding: 4px 8px 4px 6px;
  margin: 0;
}
ul.primary li a:hover, ul.tabs.secondary li a:hover {
  color: #0B72B7;
  background: none;
}
ul.primary li.active a, ul.primary li.active a.active, ul.tabs.secondary li.active a, ul.tabs.secondary li.active a.active {
  border: none;
  color: #0B72B7;
  background: none;
}
